.item{
    position: relative;
    width: 90%;
    height: 60px;
    background-color: #0704164b;
    margin: 10px 0;
    padding: 5px;

  }
  .item h4{
    line-break: anywhere;
    width: 90%;
  }
  .btn-fechar{
    position: absolute;
    cursor:pointer;
    right: 0;
    top: 0;
  }